@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}
.container {
    margin: 10%;
}

#button {
    text-decoration: none;
}

a.link {
    text-decoration: none;
    border: 2px solid #009EE3 ;
    display: flow-root;
    text-align: center;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: #009EE3;
    outline: none;
    transition: all 300ms;
}

a.link:hover {
    background:#009EE3 ;
    color: #fff;
}

/* SECCIÓN INDEX.PHP INICIO SESION */
main {
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

.contenedor-todo {
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

.caja-trasera {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(5px);
    background-color: #091129;
}

.caja-trasera div {
    margin: 100px 40px;
    color: white;
    transition: all 500ms;
}

.caja-trasera div p,
.caja-trasera div button {
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
}

.caja-trasera div h3 {
    font-weight: 400;
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
}

.caja-trasera button {
    padding: 10px 40px ;
    border: 2px solid #fff;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
}

.caja-trasera button:hover {
    background: #fff;
    color: #0f4070;
}

/* FORMULARIOS */
.contenedor-login-register {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.contenedor-login-register form {
    width: 100%;
    padding: 80px 20px;
    background: #fff;
    position: absolute;
    border-radius: 20px;
}

.contenedor-login-register form h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #091129;
    font-family: 'Roboto', sans-serif;
}

.contenedor-login-register form input {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #F2F2F2;
    font-size: 16px;
    outline: none;
}

.contenedor-login-register form button {
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #46A2FD;
    color: #fff;
    cursor: pointer;
    outline: none;
}

.formulario-login {
    opacity: 1;
    display: block;
}

.formulario-register {
    display: none;
}

/* FORMULARIO RESPONSIVE */
@media screen and (max-width : 850px) {
    main {
        margin-top: 50px;
    }
    .caja-trasera {
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }
    .caja-trasera div {
        margin: 0;
        position: absolute;
    }

    /* FORMULARIO */
    .contenedor-login-register {
        top: -10px;
        left: -5px;
        margin: auto;
    }
    .contenedor-login-register form {
        position: relative;
    }
}
 /* CARDS  TITULOS */

h3.card-title {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: #000;
}

h5.card-title {
    color: #000;
}

p.text-muted {
    font-size: 15px;
    display: block;
    justify-content: center;
    text-align: center;
}

.title {
    color:#091129 ;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
    font-size: 3em;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}
.title-3 {
    font-family: 'Roboto', sans-serif;
    color: #000;
}
.title-productos {
    display: flex;
    justify-content: center;
    color: #091129;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
    font-size: 3em;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}

.titulo-principal {
    padding: 5%;
    color:#091129 ;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
    font-size: 3em;
    text-align: center;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}


img.card-img-top.img-responsive {
    transition: transform .2s; 
}

img.card-img-top.img-responsive:hover {
    transform: scale(1.2); 
}

/* BOTONES */

.btn#boton {
    margin: 12px;
}

/* MENU */
header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: 0.7s;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 13%);
}

a {
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
}
a:hover, a:focus {
    background-size: 100% 2px;
    transition: all .3s;
}

a#link {
    color:#000;
}

nav.navbar.navbar-expand-lg.bg-light {
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}

/* BOTONES INICIAR Y CERRAR SESIÓN */

a#cerrar-sesion {
    text-decoration: none;
    color:white;
    background-image: none;
    margin: 5px;
}
a#cerrar-sesion:hover {
    color: #fff;
}
a.navbar-brand {
    background-image: none;
}

button.btn.btn-info {
    color: white;
    --mdb-btn-bg: #009ee3;
    --mdb-btn-box-shadow: 0 4px 9px -4px #009ee3;
    --mdb-btn-hover-bg: #009ee3;
    --mdb-btn-focus-bg: #009ee3;
    --mdb-btn-active-bg: #009ee3;
}

/* CAROUSEL */

div#carouselExampleIndicators{
    width: 100%;
}

/* CARDS PRODUCTOS */

.product-price {
    font-size: 25px;
    line-height: 1.5;
    color: #000;
}

h5.descripcion {
    font-weight: 800;
    color: #000;
}

h5.medio-pago {
    font-weight: 800;
    color: #000;
}

/* IMAGEN SILLA FLOTANTE */

.silla {
    -webkit-animation: bounce-down 1.6s linear infinite;
    animation: bounce-down 1.6s linear infinite;
    margin-left: 26%;
}

@-webkit-keyframes bounce-down {
    25% {
         -webkit-transform: translateY(-4px);
    }
    50%, 100% {
         -webkit-transform: translateY(0);
    }
    75% {
         -webkit-transform: translateY(4px);
    }
}

@keyframes bounce-down {
     25% {
          transform: translateY(-4px);
     }
     50%, 100% {
          transform: translateY(0);
     }
     75% {
          transform: translateY(4px);
     }
    }

h1.text-uppercase.fw-bold.mb-4 {
    font-size: 2em;
    color: #000;
    text-align: center;
}

.parrafos {
    font-size: 25px;
    color: #000;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

/* RESPONSIVE */

@media screen and (max-width: 500px) {
    .title-productos {
        font-size: 3em;
    }
    .title {
        font-size: 3em;
    }
    .navbar-toggler {
        padding: 0.27rem 0.75rem;
    }

}


/* ESTILOS LISTA.PHP */

.titulo {
    color: #091129;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
    font-size: 3em;
    font-weight: 900;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.textos {
    font-size: 23px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

#button:hover {
    color: #fff;
}

a#button {
    color: white;
    text-decoration: none;
}

.box-part{
    background:#fff;
    padding:30px 10px;
    margin-bottom: 25px;
}

.box-part:hover{
    background:#000000;
}

.box-part:hover .fa , 
.box-part:hover .title-3 , 
.box-part:hover .text ,
.box-part:hover {
    color:#FFF;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
    font-family: 'Roboto', sans-serif;
}

.text{
    margin:20px 0px;
    font-family: 'Montserrat', sans-serif;
    color: #000;
}

/* BOTON MERCADO PAGO */
.contenedor-btn {
    display: flex;
    margin-top: -7.6%;
    margin-left: 20%;
    margin-bottom: 12px;
}
/* BOTON INSTAGRAM */

i.bi.bi-instagram {
    color: white;
}

/* BOTON CERRAR SESION */
a#cerrar-sesion:hover {
    color: #000;
}

.card.col-md-3.col-lg-4.col-xl-4.mx-auto.mb-4 {
    --mdb-card-box-shadow: 0;
}

/* SLIDER */
.slider_section {
    height: calc(90% - 70px);
    display: -webkit-box;
    display: -ms-flexbox;
    margin: 30px;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.slider_section .container {
    position: relative;
    z-index: 2;
}

.slider_section .number_box {
    width: 50px;
    position: absolute;
    right: 25px;
    top: 46%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #ffffff;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2;
    font-size: 22px;
}

.slider_section .number_box::before {
    content: "";
    width: 50px;
    height: 1px;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.slider_section .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.slider_section .detail-box h1 {
    color: rgb(5, 9, 65);
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
        0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
    font-size: 3.7rem;
    font-weight: 900;
    font-family: "Roboto", sans-serif;
}

.slider_section .detail-box h1 span {
    font-size: 3.7rem;
    color: #252525;
}

.slider_section .detail-box p {
    margin-top: 15px;
    font-size: 23px;
    font-weight: 900;
}

.slider_section .detail-box .btn-box {
    margin-top: 45px;
}

.slider_section .detail-box .btn-box a {
    text-transform: uppercase;
    text-align: center;
    width: 135px;
    font-size: 15px;
}

.slider_section .detail-box .btn-box .btn-1 {
    display: inline-block;
    padding: 6px 0;
    color: #ffffff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: 1px solid transparent;
    border-radius: 20px;
    margin-right: 5px;
}

.slider_section .detail-box .btn-box .btn-1:hover {
    background-color: transparent;
}

.slider_section .detail-box .btn-box .btn-2 {
    display: inline-block;
    padding: 6px 0;
    background-color: #252525;
    color: #ffffff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: 1px solid transparent;
    border-radius: 20px;
}

.slider_section .detail-box .btn-box .btn-2:hover {
    background-color: transparent;
    border-color: #252525;
    color: #252525;
}

.slider_section .img-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.slider_section .img-container .img-box {
    width: 80%;
}

.slider_section .img-container .img-box img {
    width: 100%;
}

.slider_section .play_btn {
    background-color: #24d278;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 100%;
    width: 75px;
    height: 75px;
    position: absolute;
    z-index: 3;
    top: 56%;
    right: 32%;
}

.slider_section a {
    background-color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 100%;
    width: 75px;
    height: 75px;
    position: relative;
    z-index: 5;
}

.slider_section img {
    width: 20px;
    margin-left: 3px;
}

.slider_section .play_btn::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 1;
    border-radius: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.slider_section .play_btn::before {
    z-index: 2;
    -webkit-animation: before-animation 1500ms infinite;
    animation: before-animation 1500ms infinite;
}

@-webkit-keyframes before-animation {
    0% {
        -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 1;
    }
}

@keyframes before-animation {
    0% {
        -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 1;
    }
}

.slider_section .carousel-indicators {
    margin: 28px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    bottom: -58px;
}

.slider_section .carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: black;
    opacity: 1;
    border: none;
    background-clip: unset;
}

.slider_section .carousel-indicators li.active {
    background-color: gray;
}

.slider_section ol.carousel-indicators.indicator-2 {
    position: unset;
}

.slider_section ol.carousel-indicators.indicator-2 li {
    width: 25px;
    height: 25px;
    text-indent: 0px;
    text-align: center;
    line-height: 25px;
    color: #ffffff;
    margin: 0;
    background-color: transparent;
    opacity: 1;
    border: none;
    display: none;
}

.slider_section ol.carousel-indicators.indicator-2 li.active {
    display: block;
}

/* MODAL */

.modal-title {
    font-family: "Roboto", sans-serif;
}

input.btn.btn-info {
    --mdb-btn-bg: #009ee3;
    --mdb-btn-hover-bg: #009ee3;
    --mdb-btn-focus-bg: #009ee3;
    --mdb-btn-active-bg: #009ee3;
}

/* MODAL AGREGAR PRODUCTOS */

.btn-info {
    --bs-btn-color: white;
}

.title-slider {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 2.5em;
}

/* RESPONSIVE BOTONES */
@media screen and (max-width : 850px) {
   button#button-edit.btn.btn-info {
    min-width: max-content;
    margin-left: 32%;
   }
   .contenedor-btn {
    justify-content: center;
    margin-left: -24px;
   }
   div#contenedor {
    margin-top: 23%;
   }
}
